body {
  margin: 0 px;
  font-family:times new roman;
  font-weight: normal;


}
.section
{
  /*background-color: #F5EFF5;*/
  display:flex;
  padding: 50px;
  width: 90%;

  margin:10rem  auto 0 auto;
}
.ttt{
background-color: #F5EFF5;
text-align:justify;
text-decoration:inter-word;
border-radius:15px;
padding-left:10px;
padding-right:10px;
}
.p{
 background-color:#F5EFF5;
  text-align:justify;
text-decoration:inter-word;
border-radius:15px;
padding-left:10px;
padding-right:10px;
}
.space{
  width:100%;
  height:500%; 
  background-color: #F5EFF5;
}
.topnav{
    position:relative;
    width:100%;
    height:40px;
    z-index: 1040;
    background:#31C6D4;
}

.topnav a {
  float:left;
  color: #06283D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  color:black;
}

.topnav-right {
  float: right;
}

